@media (max-width: 430px) {
    table {
        width: 100%;
        font-size: 10px;
    }
    .mat-mdc-table .mat-mdc-header-cell{
        font-size: 10px;
    }

    button {
        font-size: 10px !important
    }
}